@import './Variables.scss';

.aboutSection {
  max-width: 1200px;
  margin: auto;
  padding-left: 95px;
  padding-right: 95px;
  min-height: 50vh;
}

.aboutNavigator {
  display: flex;
  justify-content: space-between;

  li {
    width: 100%;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $lighter-blue;
    border-bottom: 1px solid $darker-blue;
    cursor: pointer;
  }

  .selected {
    color: white;
    border-bottom: 1px solid white;
  }
}

.carouselWrapper {
  overflow: hidden;
}

.carousel {
  width: 200%;
  display: flex;
  position: relative;
  left: -100%;

  section {
    width: 100%;
    margin-bottom: 200px;
  }
}

.skillsSection {
  display: grid;
  grid-template-columns: 25% 75%;

  .leftCol {
    margin-top: 2rem;
    text-align: right;
    margin-bottom: 2rem;
  }

  .rightCol {
    margin-top: 2rem;
    padding-left: 11%;
    padding-right: 11%;
    margin-bottom: 2rem;
  }

  .frontendCol {
    padding-top: 22px;
  }

  h4 {
    font-size: 2.2rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  ul {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
  }

  li {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .skillLabel {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .divider {
    height: 100%;
    border-left: 1px solid white;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.experienceSection {
  display: grid;
  grid-template-columns: 25% 75%;

  h4 {
    color: $gold;
    font-size: 2.2rem;
    margin-top: 0;
  }

  h6 {
    margin-top: 5px;
    font-size: 1.6rem;
    margin-bottom: 5px;
  }

  p {
    margin-top: 0;
    margin-bottom: 25px;
    font-style: italic;
  }

  ul {
    list-style: disc;
    padding-left: 25px;
  }

  li {
    margin-bottom: 10px;
  }

  .leftCol {
    margin-top: 2rem;
    text-align: right;
    margin-bottom: 2rem;
  }

  .rightCol {
    margin-top: 2rem;
    padding-left: 11%;
    padding-right: 11%;
    margin-bottom: 2rem;
  }
}
