.about {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-column-gap: 50px;
}

.profilePicture {
  border-radius: 5px;
}

.leftCol {
  position: relative;
  margin-top: 2rem;
}

.rightCol {
  margin-top: 2rem;

  p {
    margin-top: 0;
    font-size: 1.2rem;
    line-height: 1.5;
  }
}

@media (max-width: 750px) {
  .leftCol {
    width: 240px;
    height: 240px;
    margin-left: auto;
    margin-right: auto;
  }

  .rightCol {
    display: inline-block;
  }

  .about {
    display: block;

    p {
      font-size: 1rem;
    }
  }
}
