@import './Variables.scss';

.contactSection {
  max-width: 1200px;
  margin: auto;
  padding-bottom: 100px;
  border-top: 1px solid $lighter-blue;

  ul {
    padding-top: 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    div {
      display: flex;
      align-items: center;
    }

    .pageLinks {
      margin-bottom: 40px;

      li {
        margin-right: 35px;
        font-size: 1.2rem;

        a {
          padding: 10px;
        }
      }
    }

    .socialLinks {
      margin-bottom: 40px;
      justify-content: end;
      align-self: flex-end;
      padding-left: 95px;

      .mr {
        margin-right: 25px;
      }
    }
  }

  .email {
    padding-left: 95px;
    display: inline-block;

    p {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 0.9rem;
      color: $lighter-blue;
      font-weight: 300;
    }
  }
}

@media (max-width: 600px) {
  .hide {
    display: none;
  }

  .contactSection {
    .wrapper {
      width: 280px;
      margin: auto;
    }

    ul {
      .socialLinks {
        padding-left: 0;
      }
    }

    .email {
      padding-left: 0;
    }
  }
}
