@import './Variables.scss';

.heroSection {
  min-height: 100vh;
  padding-top: 100px;
}

.navbar {
  display: grid;
  grid-template-columns: 95px auto;
  max-width: 1200px;
  margin: auto;

  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  a:hover {
    color: $lighter-blue;
  }

  .navbarLogo {
    display: flex;
    align-items: flex-start;
  }

  .mr {
    margin-right: 25px;
  }

  .pageLinks {
    margin-top: 5px;
    margin-bottom: 40px;

    li {
      margin-right: 35px;
      font-size: 1.2rem;
      display: inline-block;

      a {
        padding: 10px;
      }
    }
  }

  .socialLinks {
    display: flex;
  }
}

.quoteContainer {
  margin-top: 70px;
  margin-bottom: 40px;

  .quoteText {
    color: $lighter-blue;
    line-height: 1.4;
    font-size: 1.3rem;
    max-width: 445px;
  }

  .quoteAuthor {
    margin-bottom: 5px;
  }

  hr {
    width: 30px;
    border: 2px solid $darker-blue;
    display: inline-block;
  }
}

.nameContainer {
  max-width: 1200px;
  margin: auto;
  padding: 0;
  position: relative;

  h1 {
    margin: 0;
    font-size: 160px;
    font-weight: 900;
    padding: 0;
    position: relative;
    z-index: 1;
  }

  .lastName {
    top: -52px;
    color: $lighter-blue;
  }

  .shape {
    clip-path: polygon(100% 0, 0 0, 46% 100%);
    left: 95px;
    position: absolute;
    height: 400px;
    width: 1010px;
    background: rgb(255, 255, 255, 0.2);
  }
}

@media (max-width: 1500px) {
  .heroSection {
    padding-top: 50px;
  }

  .quoteContainer {
    margin-top: 50px;
  }
}

@media (max-width: 900px) {
  .heroSection {
    padding-top: 25px;
    min-height: 50vh;
  }

  .nameContainer {
    h1 {
      font-size: 130px;
    }

    .lastName {
      top: -42px;
    }
  }
}

@media (max-width: 600px) {
  .navbar {
    display: block;
    margin: auto;
    text-align: center;

    ul {
      display: block;
      text-align: center;
    }

    .navbarLogo {
      display: none;
    }

    .pageLinks {
      li {
        margin-right: 5px;
      }
    }

    .socialLinks {
      justify-content: center;
    }
  }

  .quoteContainer {
    margin-top: 20px;

    .quoteText {
      display: inline-block;
    }
  }

  .nameContainer {
    h1 {
      font-size: 100px;
    }

    .lastName {
      top: -32px;
    }
  }
}

@media (max-width: 500px) {
  .heroSection {
    padding-top: 15px;
  }
}

@media (max-width: 450px) {
  .navbar {
    .pageLinks {
      li {
        margin-right: 0;
      }
    }
  }

  .nameContainer {
    h1 {
      font-size: 68px;
    }

    .lastName {
      top: -22px;
    }
  }
}
