@import './Variables.scss';

.heroSection {
  min-height: 100vh;
  padding-top: 50px;
  // background-image: radial-gradient(circle 610px at 5.2% 51.6%, rgba(5, 8, 114, 1) 0%, rgba(7, 3, 53, 1) 97.5%);
}

.navbar {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pageLinks {
  display: flex;
  align-items: center;

  ul {
    display: flex;
    align-items: center;
  }

  li {
    margin-right: 35px;
    font-size: 1.2rem;

    a {
      padding: 10px;
    }
  }
}

.navSocialLinks {
  display: flex;
  align-items: center;

  li {
    margin-left: 20px;
  }
}

.quoteContainer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  margin-bottom: 40px;
  padding-left: 95px;

  .quoteText {
    color: $lighter-blue;
    line-height: 1.4;
    font-size: 1.3rem;
    max-width: 445px;
  }

  .quoteAuthor {
    margin-bottom: 5px;
  }

  hr {
    width: 30px;
    border: 2px solid $darker-blue;
    display: inline-block;
  }
}

.nameContainer {
  max-width: 1200px;
  margin: auto;
  padding: 0;
  position: relative;

  h1 {
    margin: 0;
    font-size: 160px;
    font-weight: 900;
    padding: 0;
    position: relative;
    z-index: 1;
  }

  .lastName {
    top: -52px;
    color: $lighter-blue;
  }

  .shape {
    clip-path: polygon(100% 0, 0 0, 46% 100%);
    left: 95px;
    position: absolute;
    height: 400px;
    width: 1010px;
    background: rgb(255, 255, 255, 0.2);
  }
}
