@import './Variables.scss';

.projectPanel {
  position: relative;
  height: 400px;
  width: 100%;

  .descriptionBackground {
    position: absolute;
    top: 0;

    height: 100%;
    width: 50%;
    background: rgba(255, 255, 255, 0.7);
    color: $dark-blue-font;
  }

  .topRightPanel {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
    right: 0;
  }

  .bottomRightPanel {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);
    right: 0;
  }

  .projectInfoWrapper {
    width: 75%;
    height: 100%;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }

  .projectInfo {
    max-width: 240px;

    h3 {
      font-size: 2.2rem;
      margin: 0;
    }

    p {
      font-weight: 400;
      margin-top: 7px;
    }

    button {
      border: 1px solid $dark-blue-font;
      border-radius: 4px;
      padding: 9px 15px;
      background: none;
      color: $dark-blue-font;
      font-size: 1rem;
    }

    button:hover {
      cursor: pointer;
      background: $dark-blue-font;
      color: $primary-color;
    }
  }
}

@media (max-width: 991px) {
  .projectPanel {
    height: 340px;

    .description-background {
      width: 60%;
    }
  }
}

@media (max-width: 767px) {
  .projectPanel {
    height: 280px;

    .descriptionBackground {
      width: 70%;
    }

    .projectInfo {
      max-width: 210px;
    }
  }
}

@media (max-width: 575px) {
  .projectPanel {
    height: 240px;
  }
}

@media (max-width: 500px) {
  .projectPanel {
    .projectInfo {
      max-width: 180px;

      h3 {
        font-size: 1.6rem;
      }
    }
  }
}

@media (max-width: 400px) {
  .projectPanel {
    height: 200px;
  }

  .descriptionBackground {
    width: 80%;
  }
}

@media (max-width: 350px) {
  .descriptionBackground {
    width: 88%;
  }
}
