@import './Variables.scss';

.modalBackground {
  height: 100vh;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.hide {
  display: none;
}

.modal {
  max-width: 600px;
  margin-left: 15px;
  margin-right: 15px;
  background: grey;
  border-radius: 5px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  padding: 15px;

  .modalTitle {
    margin: 0;
    font-size: 2rem;
  }

  .close {
    font-size: 2rem;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    background: none;
    color: white;
  }

  .close:hover {
    cursor: pointer;
    color: rgb(80, 80, 80);
  }
}

.modalBody {
  padding: 15px;

  h6 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 1.4rem;
  }

  p {
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.4;
  }
}

.modalFooter {
  border-top: 1px solid white;
  padding: 15px;
}

.linkBtn {
  display: inline-block;
  border: 1px solid white;
  border-radius: 4px;
  padding: 9px 15px;
  background: none;
  color: white;
  font-size: 1rem;
}

.linkBtn:hover {
  cursor: pointer;
  background: rgb(110, 110, 110);
}

.mr10 {
  margin-right: 10px;
}
