@import './Variables.scss';

.projectPanel {
  position: relative;
  height: 400px;
  width: 100%;

  .descriptionBackground {
    position: absolute;
    top: 0;

    height: 100%;
    width: 50%;
    background: rgba(80, 80, 80, 0.9);
    color: $primary-color;
  }

  .topRightPanel {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
    right: 0;
  }

  .bottomRightPanel {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);
    right: 0;
  }

  .projectInfoWrapper {
    width: 75%;
    height: 100%;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;

    .projectInfo {
      max-width: 240px;

      h3 {
        font-size: 2.2rem;
        margin: 0;
      }

      p {
        font-weight: 400;
        margin-top: 7px;
      }

      button {
        border: 1px solid $primary-color;
        border-radius: 4px;
        padding: 9px 15px;
        background: none;
        color: $primary-color;
        font-size: 1rem;
      }

      button:hover {
        cursor: pointer;
        background: $primary-color;
        color: black;
      }
    }
  }
}
