@import './Variables.scss';

.projectSection {
  max-width: 1010px;
  margin: auto;
  margin-bottom: 220px;
  min-height: 100vh;
  position: relative;
}

@media (max-width: 900px) {
  .projectSection {
    margin-bottom: 150px;
  }
}

@media (max-width: 600px) {
  .projectSection {
    margin-bottom: 100px;
  }
}
