@import './Variables.scss';

.projectInfoContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;

  .projectInfo {
    background: rgb(0, 0, 0, 0.4);
    padding: 10px;
    border-radius: 5px;
  }

  h3 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 5px;
  }

  p {
    margin-top: 2px;
  }

  button {
    display: inline-block;
    background: rgba(255, 255, 255, 0.25);
    color: $primary-color;
    padding: 12px 22px;
    border: none;
    font-size: 1rem;
    // border-bottom: 2px solid $primary-color;
    border-radius: 1px;
    box-shadow: none;

    .linkArrow {
      display: inline-block;
      margin-left: 8px;
      position: relative;
      transform: translateY(2px);
    }
  }

  button:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.9);
    color: black;
    border-bottom: none;
  }
}
