@import './Variables.scss';

.skillsSection {
  display: grid;
  grid-template-columns: 25% 75%;

  .leftCol {
    margin-top: 2rem;
    text-align: right;
    margin-bottom: 2rem;
  }

  .rightCol {
    margin-top: 2rem;
    padding-left: 11%;
    padding-right: 11%;
    margin-bottom: 2rem;
  }

  .frontendCol {
    padding-top: 22px;
  }

  h4 {
    font-size: 2.2rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  ul {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
  }

  li {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .skillLabel {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .divider {
    height: 100%;
    border-left: 1px solid white;
    margin-right: 10px;
    margin-left: 10px;
  }
}
