@import './Variables.scss';

.socialSection {
  margin-top: 3rem;

  ul {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }

  li {
    text-align: center;
    font-size: 3rem;
  }

  a:hover {
    color: $lighter-blue;
  }
}

@media (max-width: 500px) {
  .socialSection {
    ul {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
      row-gap: 50px;
    }

    li {
      font-size: 2.2rem;
    }
  }
}
